**/*out
**/*logs
**/*actions
**/*notifications
**/*tools
plugins
user_trunk.yaml
user.yaml
tmp
**/*.
**/*.fls
**/*.bbl
**/*.blg
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.spl
**/*.synctex.gz
**/*.fdb_latexmk
.archive
.trunk/
latex_files/.other/
!**/logs/*.log
!.gitignore
